@using System.Web.Optimization
﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - i-blog</title>
    @Styles.Render("~/styles")
</head>
    <body>

    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <a href="@Url.RouteUrl("Home")">Blog Name Comes Here</a>
                <small><a href="https://github.com/i-voronov/i-blog">a blog powered by ASP.net MVC</a></small>
                @if (User.Identity.IsAuthenticated)
                {
                    <small>Welcome back, @User.Identity.Name</small>
                    <small><a href="@Url.RouteUrl("logout")">Logout</a></small>

                    if (User.IsInRole("admin"))
                    {
                        <small><a href="@Url.Action("index", "Posts", new {area = "admin"})">View posts in admin</a></small>
                    }
                }
                else
                {
                    <small><a href="@Url.RouteUrl("login")">Login</a></small>
                }
            </h1>
        </header>
    </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    @RenderBody()
                </div>
                <div class="col-lg-4 sidebar">
                    @Html.Action("Sidebar", "Layout")
                </div>
            </div>

            <footer>
                &copy; @DateTime.UtcNow.Year - i-blog
            </footer>
        </div>


        @Scripts.Render("~/scripts")
        @RenderSection("Scripts", false)
    </body>
</html>
